div.laranja{background-color:orange;
    width: 500px;
    right: 500px;
    ;}
    
    div.azul{background-color: blue;
    width: 900px;
    right: 4000px;
    border: 500px;
    margin: 0 auto  
    
    ;}